$grey: rgb(150, 166, 180);
$body-font: 'Roboto', 'Source Sans Pro', sans-serif;
$h2-h3-fonts: 'Playfair Display', sans-serif;
$stylesMainHeading:(
    negrita: 400,
    mayus: uppercase,
    ubicación: center,
    bottommargin: 10px,
);

